*{
  margin: 0;
  padding:0;
}
.glxavor{
  max-width:100%;
  height:1600px;
  background:url(img.jpeg);
  background-size:100%;
  background-position:start;
  background-repeat:repeat-y;
  display:flex;
  justify-content:center;
  
  
}
.nyut{
  width:1000px;
  height:1500px;
  box-shadow:0px 0px 3px 2px;
  margin-top:20px;
  background:rgba(255,255,255,0.5);
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  
}
.logo{
  width:700px;
  height:400px;
  font-size:40px;
  font-style:italic;
  font-wight:bolder;
}
