*{
	margin: 0;
	padding:0;
  }
  .glxavor{
	max-width:100%;
	height:3300px;
	background:black;
	background-size:100%;
	background-position:start;
	background-repeat:repeat-y;
	display:flex;
	justify-content:center;
  }
  .nyut{
	width:1000px;
	height:3260px;
	box-shadow:0px 0px 3px 2px;
	margin-top:20px;
	background:rgba(0,0,0,0.5);
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
  }
  .logo{
	width:700px;
	height:400px;
	font-size:170px;
	font-style:italic;
	font-weight:bolder;
	text-align:center;
	box-shadow:0px 0px 3px 2px;
	background:rgba(0,0,0,0.5);
	color:white;
  }
  .video{
	width:700px;
	height:400px;
	box-shadow:0px 0px 3px 2px;
	background:rgba(0,0,0,0.5);
	margin-top:10px;
  }
  .info{
	width:700px;
	height:400px;
	box-shadow:0px 0px 3px 2px;
	background:rgba(0,0,0,0.5);
	margin-top:10px;
	color:white;
  }
p{
	color:white;
}
.nkar{
     	width:700px;
	height:400px;
	background:url(kebab.jpg);
	background-size:cover;
	background-position:center;
}
  .img{
	width:700px;
	height:600px;
	box-shadow:0px 0px 3px 2px;
	background:rgba(0,0,0,0.5);
	margin-top:10px;
  }
  .text{
	width:700px;
	height:1530px;
	box-shadow:0px 0px 3px 2px;
	background:rgba(0,0,0,0.5);
	margin-top:10px;
	color:white;
  }
.info>p{
	color: rgb(white);
	font-size: 20px;
	font-weight: bolder;
}
.info>span{
	font-size: 30px;
	font-weight: bolder;
}

#slider { /*положение слайдера*/
    position: relative;
	text-align: center;
    top: 10px;
}

#slider{ /*центровка слайдера*/
	margin: 0 auto;
}

#slides article{ /*все изображения справа друг от доруга*/
	width: 20%;
	float: left;
}

#slides .image{ /*устанавливает общий размер блока с изображениями*/
	width: 500%;
	line-height: 0;
}

#overflow{ /*сркывает все, что находится за пределами этого блока*/
	width: 100%;
	overflow: hidden;
}

article img{ /*размер изображений слайдера*/
	width: 100%;
}

#desktop:checked ~ #slider{ /*размер всего слайдера*/
	max-width: 960px; /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch1:checked ~ #controls label:nth-child(5), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4){
	background: url('prev.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: left;
	margin: 0 0 0 -84px; /*сдвиг влево*/
	display: block;
	height: 68px;
	width: 68px;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1){
	background: url('next.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: right;
	margin: 0 -84px 0 0; /*сдвиг вправо*/
	display: block;
	height: 68px;
	width: 68px;
}

label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
	cursor: pointer;
}

.all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
	display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image{
	margin-left: 0;
}

#switch2:checked ~ #slides .image{
	margin-left: -100%;
}

#switch3:checked ~ #slides .image{
	margin-left: -200%;
}

#switch4:checked ~ #slides .image{
	margin-left: -300%;
}

#switch5:checked ~ #slides .image{
	margin-left: -400%;
}

#controls{ /*положение блока всех управляющих элементов*/
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}

#active label{ /*стиль отдельного переключателя*/
	border-radius: 10px; /*скругление углов*/
	display: inline-block; /*расположение в строку*/
	width: 15px;
	height: 15px;
	background: #bbb;
}

#active{ /*расположение блока с переключателями*/
	margin: 23% 0 0;
	text-align: center;
}

#active label:hover{ /*поведение чекбокса при наведении*/
	background: #76c8ff;
	border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5){
	background: #18a3dd;
	border-color: #18a3dd !important;
}

#slides .image{ /*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{ /*прозрачность стрелок при наведении*/
	opacity: 0.6;
}

#controls label{ /*прозрачность стрелок при отводе курсора*/
	transition: opacity 0.2s ease-out;
}

@media screen and (max-width:600px){
	.glxavor{
		height: 2700px;
	}
	  .nyut{
	  width:300px;
	  height: 2600px;  
	}
	.logo{
	  width:290px;
	  font-size:70px;
	  height: 100px;
	}
	.video{
	  width:290px;
	  height: 150px;
	}
	iframe{
		width:290px;
		height: 150px;
	}
	.info{
	  width:290px;
	  height: 350px;
  
	}
	.info>p{
		font-size: 15px;
	}
	.info>span{
		font-size: 17px;
	}
	.img{
	  width:290px;
	  height: 300px;
	}
	.text{
	  width:290px;
	  height: 1630px;
	}
	.pechat{
		width: 290px;
	}
  #switch1:checked ~ #controls label:nth-child(5), 
  #switch2:checked ~ #controls label:nth-child(1),
  #switch3:checked ~ #controls label:nth-child(2),
  #switch4:checked ~ #controls label:nth-child(3),
  #switch5:checked ~ #controls label:nth-child(4){
	  background: url('prev.png') no-repeat;
	  float: left;
	  margin: 0 0 0 -84px;
	  display: none;
	  height: 68px;
	  width: 68px;
  }
  
  #switch1:checked ~ #controls label:nth-child(2), 
  #switch2:checked ~ #controls label:nth-child(3),
  #switch3:checked ~ #controls label:nth-child(4),
  #switch4:checked ~ #controls label:nth-child(5),
  #switch5:checked ~ #controls label:nth-child(1){
	  background: url('next.png') no-repeat;
	  float: right;
	  margin: 0 -84px 0 0;
	  display: none;
	  height: 68px;
	  width: 68px;
  }
}
