*{
  margin: 0;
  padding:0;
}
.glxavor{
  max-width:100%;
  height:1000px;
  background:url(img.jpeg);
  background-size:100%;
  background-position:center;
  background-repeat:repeat-y;
  display:flex;
  justify-content:center;
  
  
}
.nyut{
  width:1000px;
  height:1200px;
  box-shadow:0px 0px 3px 2px;
}
